*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    animation: fadeIn 2.5s linear;
}
@keyframes fadeIn {
    0%{
        transform: scale(0.7)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

.circle1,
.circle2{
    background: white;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255, .8),
    rgba(255,255,255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    opacity: 70%;
    border-radius: 50%;
    animation: ZoomInOut 3s linear infinite;
}

@keyframes ZoomInOut {
    0%{
        transform: scale(1);
        opacity: 70%;
    }
    50%{
        transform: scale(.85);
        opacity: 50%;
    }
    100%{
        transform: scale(1);
        opacity: 70%;
    }
}

.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255, 0.7),
    rgba(255,255,255, 0.3));
    border-radius: 2rem;
}
.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}
.link h2{
    padding: 0rem 2rem;
}
.TodoList{
    flex: 2;
}
.message{
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
}

.message img{
    position: absolute;
    top: 3%;
    right: 5%;
    height: 10rem;
    width: 10rem;
}

.message h2 {
    width: 40%;
    color: white;
    font-weight: 600;
  }